<xf:set var="$messageHtml">
	<h4 class="message-title"><a href="{{ link('blogs/blog', $content) }}">{$content.blog_title}</a></h4>
</xf:set>

<xf:macro id="approval_queue_macros::item_message_type"
	arg-content="{$content}"
	arg-contentDate="{$content.blog_creation_date}"
	arg-user="{$content.User}"
	arg-messageHtml="{$messageHtml}"
	arg-typePhraseHtml="{{ phrase('taylorj_blogs_blog') }}"
	arg-spamDetails="{$spamDetails}"
	arg-unapprovedItem="{$unapprovedItem}"
	arg-handler="{$handler}"
	arg-headerPhraseHtml="{{ phrase('taylorj_blogs_blog_approval', {
		'blogLink': link('blogs/blog', $content),
		'blogTitle': $content.blog_title
	}) }}"/>