<xf:title>Create a new blog post</xf:title>
<div class="block">
    <div class="block-container">
        <div class="block-body">
			<xf:textboxrow name="title" value="{$title}" rowtype="fullWidth noLabel" class="input--title"
				maxlength="40"
				placeholder="{{ phrase('title...') }}"
				label="{{ phrase('title') }}" />

			<xf:editorrow name="message"
				value="{$blogPost.blog_post_content}"
				label="message"
				rowtype="fullWidth noLabel mergePrev"
				data-preview-url="{{ link('userblogs/blog/add-preview', $blogPost) }}" />

			<xf:formrow>
				<!-- <xf:if is="$attachmentData">
					<xf:macro template="helper_attach_upload" name="upload_block"
						arg-attachmentData="{$attachmentData}"
						arg-forceHash="{$draft.attachment_hash}" />
				</xf:if> -->
			</xf:formrow>
        </div>
    </div>
</div>