<xf:css src="taylorj_userblogs_blogs_index.less" />

<xf:title>
    {$blog.blog_title}
</xf:title>

<xf:pageaction>
    <xf:button href="{{ link('userblogs/blog/add', $blog) }}" fa="fa-plus-square" class="button--cta">
        Create a new post
    </xf:button>
</xf:pageaction>

<div class="block taylorjBlogs">
    <div class="taylorjBlogs-blog-view-main">
        <div class="block-container taylorjBlogs-blog-view">
            <div class="block-body">
                <article class="taylorjBlogs-post-listing">
                    Test
                </article>
            </div>
        </div>
        <div class="taylorjBlogs-blog-details">
            <div class="taylorjBlogs-blog-header-image">
                <img src="{$blog.blog_header_image}" alt="Header Image" />
            </div>
            <span>Created by: {$blog.User.username}</span>
            <span>Created on:
                <xf:date time="$blog.blog_creation_date" />
            </span>
        </div>
    </div>
</div>