.taylorjUserBlogs-blog-description {
  padding-bottom: 40px;
  //color: @xf-textColorDimmed;
}

.taylorjUserBlogs-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.taylorjUserBlogs-blog-posts {
  width: 100%;
  //flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taylorjUserBlogs-blog-details {
  width: 100%;
  flex-basis: 20%;
  height: 100%;
  background: @xf-contentAltBg;
  border: 1px solid @xf-borderColor;
  border-radius: @xf-borderRadiusMedium;
  display: flex;
  flex-direction: column;
}
.taylorJUserBlogs-details-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: @xf-paddingMedium @xf-paddingLarge;
  gap: 5px;
}
.taylorjUserBlogs-blog-details img {
  border-radius: borderRadiusMedium;
}

.taylorjBlogs-blog-view-post-header {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  font-size: @xf-fontSizeLarge;
}

.taylorjBlogs-blog-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.taylorjBlogs-main {
  width: full;
  display: flex;
  flex-direction: row;
}

.taylorjBlogs-blog-post-snippet {
  flex-basis: 70%;
  width: 100%;
}

.taylorjBlogs-blog-post-cover-image {
  width: full;
  height: full;
  flex-basis: 30%;
  object-fit: contain;
}

.taylorjBlogs-blog-post-cover-image img {
  width: 100%;
  height: 100%;
}

.taylorjBlogs-blog-post-no-cover {
  width: full;
  height: full;
  flex-basis: 100% !important;
  object-fit: contain;
}

.taylorjBlogs-preview-text {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.articlePreview-title {
  &.is-deleted {
    text-decoration: line-through;
  }
}

.draftBlogPostsButton
{
	display: inline-block;
	position: relative;

	i:before
	{
		display: inline-block;
		.m-faBase();
		.m-faContent(@fa-var-solid-square-pen, 1em); //, .88em
		vertical-align: baseline;
		font-size: 1.2em;
		margin: -.2em 0;
		line-height: 1;
	}
}