<xf:title>
    <xf:if is="$blog.blog_id">
        {{ phrase('taylorj_blogs_blog_edit', { 'blogTitle': $blog.blog_title }) }}
        <xf:else />
        {{ phrase('taylorj_blogs_blog_create') }}
    </xf:if>
</xf:title>




<xf:form action="{{ link('blogs/save', $blog, { 'blog': $blog }) }}" class="block" ajax="1">
    <div class="block-container">
        <xf:textboxrow name="blog_title" value="{$blog.blog_title}"
            label="{{ phrase('taylorj_blogs_blog_edit_title') }}" />
        <xf:textarearow name="blog_description" value="{$blog.blog_description}"
            label="{{ phrase('taylorj_blogs_blog_edit_description') }}" autosize="true" rows="5" />
        <xf:uploadrow name="upload" label="{{ phrase('taylorj_blogs_blog_edit_header_image') }}"
            accept=".gif,.jpeg,.jpg,.jpe,.png" value="{{ $blog.blog_header_image ? $blog.blog_header_image : null }}"
            placeholder="{{ phrase('taylorj_blogs_blog_header_upload') }}" asset="taylorj_blogs_blog_header"
            explain="{{ phrase('taylorj_blogs_blog_edit_threshold') }}" dir="ltr" />
    </div>
    <xf:submitrow submit="{{ phrase('save') }}" fa="fa-save" icon="save" />
</xf:form>
