<xf:title>
    <xf:if is="$blog.blog_id">
        {{ phrase('taylorj_blogs_blog_edit', { 'blogTitle': $blog.blog_title }) }}
        <xf:else />
        {{ phrase('taylorj_blogs_blog_create') }}
    </xf:if>
</xf:title>

<xf:form action="{{ link('blogs/save', $blog, { 'blog': $blog }) }}" class="block" ajax="1">
    <div class="block-container">
        <xf:textboxrow name="blog_title" value="{$blog.blog_title}"
            label="{{ phrase('taylorj_blogs_blog_edit_title') }}" />
        <xf:textarearow name="blog_description" value="{$blog.blog_description}"
            label="{{ phrase('taylorj_blogs_blog_edit_description') }}" autosize="true" rows="5" />
        <xf:if is="$blog.blog_id">
            <xf:radiorow name="taylorj_blogs_blog_header_image_confirm"
                value="{{ $blog.blog_header_image ? 'upload_header' : 'delete_header' }}">
                <xf:option name=" upload_header" label="Use custom blog header image" value="upload_header"
                    data-xf-init="disabler" data-container="#header_image_upload" />
                <xf:option name="delete_header" label="Delete blog header image" value="delete_header" />
            </xf:radiorow>
        </xf:if>
        <xf:uploadrow name="upload" label="{{ phrase('taylorj_blogs_blog_edit_header_image') }}"
            accept=".gif,.jpeg,.jpg,.jpe,.png" value="{{ $blog.blog_header_image ? $blog.blog_header_image : null }}"
            placeholder="{{ phrase('taylorj_blogs_blog_header_upload') }}" asset="taylorj_blogs_blog_header"
            explain="{{ phrase('taylorj_blogs_blog_edit_threshold') }}" dir="ltr" id="header_image_upload" />
    </div>
    <xf:submitrow submit="{{ phrase('save') }}" fa="fa-save" icon="save" />
</xf:form>
