<xf:macro id="item_new_blog_posts" arg-blogPost="!">
	<div class="contentRow">
		<div class="contentRow-figure">
			<xf:avatar user="$blogPost.User" size="xxs" defaultname="{$blogPost.User.username}" />
		</div>
		<div class="contentRow-main contentRow-main--close">
			<a
				href="{{ link('blogs/post', $blogPost, {'blog_post_id': $blogPost.blog_post_id}) }}">{$blogPost.blog_post_title}</a>

			<div class="contentRow-minor contentRow-minor--hideLinks">
				<ul class="listInline listInline--bullet">
					<li>{{ phrase('latest_x', {'name': $blogPost.User.username}) }}</li>
					<li>
						<xf:date time="{$blogPost.blog_post_date}" />
					</li>
				</ul>
			</div>
			<div class="contentRow-minor contentRow-minor--hideLinks">
				<a href="{{ link('forums', $thread.Forum) }}">{$thread.Forum.title}</a>
			</div>
		</div>
	</div>
</xf:macro>
