<xf:css src="taylorj_blogs_blog_view.less" />

<xf:breadcrumb source="$blog.getBreadcrumbs(true)" />

<xf:title>
    {$blog.blog_title}
</xf:title>

<div class="taylorjUserBlogs-blog-description">
    <span>
        {$blog.blog_description}
    </span>
<xf:pageaction>
    <xf:button href="{{ link('blogs/blog/add-post', $blog) }}" fa="fa-plus-square" class="button--cta">
        Create a new post
    </xf:button>
</xf:pageaction>

<xf:if contentcheck="true">
    <div class="u-pullRight buttonGroup-buttonWrapper">
        <xf:button class="button--link menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true"
            title="{{ phrase('more_options') }}">&#8226;&#8226;&#8226;</xf:button>
        <div class="menu" data-menu="menu" aria-hidden="true">
            <div class="menu-content">
                <h4 class="menu-header">{{ phrase('more_options') }}</h4>
                <xf:contentcheck>
                    <!--[XF:thread_tools_menu:top]-->
                    <xf:if is="$blog.canEdit()">
                        <a href="{{ link('blogs/blog/edit', $blog) }}" class="menu-linkRow">{{
                            phrase('taylorj_blogs_blog_edit') }}</a>
                    </xf:if>
                    <xf:if is="$blog.canDelete()">
                        <a href="{{ link('blogs/blog/delete', $blog) }}" data-xf-click="overlay" class="menu-linkRow">{{
                            phrase('taylorj_blogs_blog_delete') }}</a>
                    </xf:if>
                    <!--[XF:thread_tools_menu:bottom]-->
                </xf:contentcheck>
            </div>
        </div>
    </div>
</xf:if>
</div>


<div class="block taylorjUserBlogs-block">
    <div class="taylorjUserBlogs-blog-posts">
        <xf:foreach loop="{$blogPosts}" key="$blog_post_id" value="$blogPost">
            <div class="block-container">
                <a href="{{ link('blogs/post', $blogPost) }}">
                    <h2 class="block-header">{$blogPost.blog_post_title}</h2>
                    
                </a>
                <div class="block-body">
                    <div class="block-row">
                        <xf:date time="$blogPost.blog_post_date" />
                        <div class="u-pullRight">
                            Views: {$blogPost.view_count}
                        </div>
                        <hr />
                        {{ snippet($blogPost.blog_post_content, 750, {
                            'stripQuote': true,
                            'bbWrapper': true
                        }) }}
                        <xf:if is="$blogPost.blog_post_last_edit_date">
                        <hr />
                            <span class="u-pullRight">
                                Last edited
                                <xf:date time="$blogPost.blog_post_last_edit_date" />
                            </span>
                        </xf:if>
                    </div>
                </div>
            </div>
        </xf:foreach>
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
            link="blogs/blog/" data="{$blogPost}" wrapperclass="block-outer block-outer--after" />
    </div>
    <div class="taylorjUserBlogs-blog-details">
        <div class="taylorjBlogs-blog-header-image">
            <img src="{$blog.blog_header_image}" alt="Header Image" />
        </div>
        <div class="taylorJUserBlogs-details-text">
            <span>Created by: {$blog.User.username}</span>
            <span>Created on:
                <xf:date time="$blog.blog_creation_date" />
            </span>
            <span>Total Posts:
                {$blogPost.Blog.blog_post_count|number}
            </span>
        </div>
    </div>
</div>