<xf:css src="taylorj_blogs_blog_post_view.less" />
<xf:css src="message.less" />

<xf:breadcrumb source="$blogPost.getBreadcrumbs(true)" />

<xf:if is="$blogPost.blog_post_state == 'moderated'">
    <div>
        <dl class="blockStatus blockStatus--standalone">
            <dt>{{ phrase('status') }}</dt>
            <xf:if contentcheck="true">
                <xf:contentcheck>
                    <dd class="blockStatus-message blockStatus-message--moderated">
                        {{ phrase('awaiting_approval_before_being_displayed_publicly') }}
                    </dd>
                </xf:contentcheck>
            </xf:if>
        </dl>
    </div>
</xf:if>


<xf:title>{$blogPost.blog_post_title}</xf:title>

<xf:description>

    <div class="u-pullLeft" data-xf-init="taylorj-blogs">
        <ul class="listInline listInline--bullet">
            <li>
                <xf:fa icon="fa-user" title="{{ phrase('thread_starter')|for_attr }}" />
                <span class="u-srOnly">{{ phrase('thread_starter') }}</span>

                <xf:username user="{$blogPost.User}" class="u-concealed" />
            </li>
            <li>
                <xf:fa icon="fa-clock" title="{{ phrase('start_date')|for_attr }}" />
                <span class="u-srOnly">{{ phrase('start_date') }}</span>

                <a href="{{ link('blogs/post', $blogPost) }}" class="u-concealed">
                    <xf:date time="{$blogPost.blog_post_date}" />
                </a>
            </li>
            <li class="taylorj-blogs-read-time">
                {{ phrase('taylorj_blogs_blog_post_read_time', { 'readTime': $blogPostReadTime}) }}
            </li>
            <xf:if is="$xf.options.enableTagging AND ($blogPost.canEditTags() OR $blogPost.tags)">
                <li>
                    <xf:macro id="tag_macros::list" arg-tags="{$blogPost.tags}"
                        arg-tagList="tagList--thread-{$blogPost.blog_post_id}"
                        arg-editLink="{{ $blogPost.canEditTags() ? link('blogs/post/tags', $blogPost) : '' }}" />
                </li>
            </xf:if>
        </ul>
    </div>
    <xf:if contentcheck="true">
        <div class="u-pullRight buttonGroup-buttonWrapper">
            <xf:button class="button--link menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true"
                title="{{ phrase('more_options') }}">&#8226;&#8226;&#8226;</xf:button>
            <div class="menu" data-menu="menu" aria-hidden="true">
                <div class="menu-content">
                    <h4 class="menu-header">{{ phrase('more_options') }}</h4>
                    <xf:contentcheck>
                        <!--[XF:thread_tools_menu:top]-->
                        <xf:if is="$blogPost.canEdit()">
                            <a href="{{ link('blogs/post/edit', $blogPost) }}" class="menu-linkRow">{{
                                phrase('taylorj_blogs_blog_post_edit') }}</a>
                        </xf:if>
                        <xf:if is="$blogPost.canDelete()">
                            <a href="{{ link('blogs/post/delete', $blogPost) }}" data-xf-click="overlay"
                                class="menu-linkRow">{{
                                phrase('taylorj_blogs_blog_post_delete') }}</a>
                        </xf:if>
                        <!--[XF:thread_tools_menu:bottom]-->
                    </xf:contentcheck>
                </div>
            </div>
        </div>
    </xf:if>
</xf:description>

<xf:set var="$bpSnippet" value="{{ snippet($blogPost.blog_post_content, 0, {'stripBbCode': true}) }}" />

<xf:macro id="metadata_macros::metadata" arg-description="{$fpSnippet}"
    arg-shareUrl="{{ link('canonical:blogs/post', $blogPost) }}"
    arg-canonicalUrl="{{ link('canonical:blogs/post', $blogPost) }}" />

<xf:macro id="lightbox_macros::setup" arg-canViewAttachments="{$blogPost.canViewAttachments()}" />
<div class="block {{ $blogPost.blog_post_state == 'moderated' ? 'is-moderated' : '' }}" data-xf-init="lightbox"
    data-type="taylorj_blogs_blog_post">
    <div class="block-container lbContainer js-lbContainer {{ $blogPost.blog_post_state == 'moderated' ? 'is-moderated' : '' }}"
        data-lb-id="{$blogPost.blog_post_id}">
        <article class="message message--article {{ $blogPost.blog_post_state == 'moderated' ? 'is-moderated' : '' }}"
            data-author="{{ $blogPost.User.username }}" data-content="{{ $blogPost.blog_post_id }}"
            id="js-post-{$blogPost.blog_post_id}">
            <div class="message-inner">
                <xf:extension id="main_cell">
                    <div class="message-cell message-cell--main">
                        <xf:extension id="main_cell_inner">
                            <div class="message-main js-quickEditTarget">
                                <header class="message-attribution message-attribution--split">
                                    <ul class="message-attribution-main listInline listInline--bullet">
                                        <li class="u-concealed">
                                            <a href="{{ link('blogs/post', $blogPost) }}" class="u-concealed">
                                                <xf:date time="{$blogPost.blog_post_date}" />
                                            </a>
                                        </li>
                                        <li class="u-concealed">
                                            <a href="{{ link('threads', $discussionThread) }}#posts">
                                                <xf:fa icon="fa-comment" class="u-spaceAfter" />{$repliesPhrase|raw}
                                                {$discussionThread.reply_count|number}
                                            </a>
                                        </li>
                                    </ul>

                                    <ul
                                        class="message-attribution-opposite message-attribution-opposite--list {$oppositeClass}">
                                        <li>
                                            <a href="{{ link('blogs/post', $blogPost) }}"
                                                class="message-attribution-gadget" data-xf-init="share-tooltip"
                                                data-href="{{ link('blogs/post/share', $blogPost) }}"
                                                aria-label="{{ phrase('share')|for_attr }}" rel="nofollow">
                                                <xf:fa icon="fa-share-alt" />
                                            </a>
                                        </li>
                                        <xf:if
                                            is="$xf.options.embedCodeShare AND method_exists($blogPost, 'getEmbedCodeHtml')">
                                            <li class="u-hidden js-embedCopy">
                                                <xf:macro id="share_page_macros::share_clipboard_text"
                                                    arg-text="{$blogPost.getEmbedCodeHtml()}"
                                                    arg-successText="{{ phrase('embed_code_html_copied_to_clipboard') }}" />
                                            </li>
                                        </xf:if>
                                        <li>
                                            {{ phrase('views') }}: {$blogPost.view_count}
                                        </li>
                                    </ul>
                                </header>
                                <div class="message-content">
                                    <div class="message-body" data-xf-init="lightbox"
                                        data-lb-id="attach-{$blogPost.blog_post_id}"
                                        data-lb-universal="{$xf.options.lightBoxUniversal}">
                                        {{ bb_code($blogPost.blog_post_content, 'taylorj_blogs_blog_post',
                                        $blogPost) }}
                                    </div>
                                    <div class="actionBar-set actionBar-set--external">
                                        <xf:react content="{$blogPost}" link="blogs/post/react"
                                            list="< .js-post | .js-reactionList" />
                                    </div>
                                    <div class="actionBar-set actionBar-set--internal">
                                        <xf:if is="$blogPost.canReport()">
                                            <a href="{{ link('blogs/post/report', $blogPost) }}"
                                                class="actionBar-action actionBar-action--report"
                                                data-xf-click="overlay">{{ phrase('report_verb') }}</a>
                                        </xf:if>
                                    </div>
                                </div>
                                <footer class="message-footer">
                                    <div
                                        class="reactionsBar js-reactionList {{ $blogPost.reactions ? 'is-active' : ''}}">
                                        <xf:if is="$blogPost.reactions">
                                            <xf:reactions content="{$blogPost}" link="blogs/post/reactions" />
                                        </xf:if>
                                    </div>
                                </footer>
                            </div>
                        </xf:extension>
                    </div>
                </xf:extension>
            </div>
        </article>
    </div>
    <aside class="message-articleUserInfo">
        <div class="message-cell">
            <div class="contentRow">
                <div class="contentRow-figure">
                    <xf:avatar user="$blogPost.User" size="m" />
                </div>
                <div class="contentRow-main">

                    <div class="message-articleUserFirstLine">
                        <div class="message-articleWrittenBy u-srOnly">{{ phrase('article_written_by') }}</div>
                        <h3 class="message-articleUserName">
                            <xf:username user="$blogPost.User" rich="true" />
                        </h3>

                        <xf:if contentcheck="true">
                            <div class="message-articleUserBlurb">
                                <xf:contentcheck>
                                    <xf:userblurb user="$blogPost.User" tag="div" />
                                </xf:contentcheck>
                            </div>
                        </xf:if>
                    </div>

                    <xf:if contentcheck="true">
                        <div class="message-articleUserAbout">
                            <xf:contentcheck>
                                <xf:if is="$blogPost.User.Profile.about != ''">
                                    {{ bb_code($blogPost.User.Profile.about, 'user:about', $blogPost.User) }}
                                </xf:if>
                            </xf:contentcheck>
                        </div>
                    </xf:if>

                    <xf:if contentcheck="true">
                        <div class="message-articleUserBanners">
                            <xf:contentcheck>
                                <xf:userbanners user="$user" />
                            </xf:contentcheck>
                        </div>
                    </xf:if>

                    <div class="message-articleUserStats">
                        <ul class="listInline listInline--bullet">
                            <!--[XF:stats:start]-->
                            <li>
                                <dl class="pairs pairs--inline">
                                    <dt>{{ phrase('taylorj_blogs_blogs_total') }}</dt>
                                    <dd>{$blogPost.User.taylorj_blogs_blog_count|number}</dd>
                                </dl>
                            </li>
                            <!--[XF:stats:after_messages]-->
                            <li>
                                <dl class="pairs pairs--inline">
                                    <dt>{{ phrase('reaction_score') }}</dt>
                                    <dd>{$blogPost.User.reaction_score|number}</dd>
                                </dl>
                            </li>
                            <!--[XF:stats:after_likes]-->
                            <!--[XF:stats:after_reactions]-->
                            <xf:if is="$xf.options.enableTrophies">
                                <li>
                                    <dl class="pairs pairs--inline">
                                        <dt>{{ phrase('points') }}</dt>
                                        <dd>{$blogPost.User.trophy_points|number}</dd>
                                    </dl>
                                </li>
                            </xf:if>
                            <!--[XF:stats:end]-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>

<xf:if is="$comments is not empty">
    <div class="block">
        <div class="block-container">
            <h3 class="block-header"><a href="{{ link('threads', $blogPost.Discussion) }}"> {{
                    phrase('taylorj_blogs_blog_post_latest_comments') }}</a></h3>
            <div class="block-body">
                <xf:foreach loop="$comments" value="$comment">
                    <xf:js src="xf/comment.js" min="1" />

                    <div class="message message--simple{{ $comment.isIgnored() ? ' is-ignored' : '' }}">
                        <span class="u-anchorTarget" id="resource-review-{$review.resource_rating_id}"></span>
                        <div class="message-inner">
                            <span class="message-cell message-cell--user">
                                <xf:if is="$review.is_anonymous">
                                    <xf:macro id="message_macros::user_info_simple" arg-user="{{ null }}"
                                        arg-fallbackName="" />
                                    <xf:else />
                                    <xf:macro id="message_macros::user_info_simple" arg-user="{$comment.User}"
                                        arg-fallbackName="{{ phrase('deleted_member') }}" />
                                </xf:if>
                            </span>
                            <div class="message-cell message-cell--main">
                                <div class="message-content js-messageContent">
                                    <div class="message-attribution message-attribution--plain">

                                        <ul class="listInline listInline--bullet">
                                            <li class="message-attribution-user">
                                                <xf:username user="{$comment.User}"
                                                    defaultname="{{ phrase('deleted_member') }}" />
                                            </li>
                                            <li><a href="{{ link('posts', $comment) }}" class="u-concealed">
                                                    <xf:date time="$comment.post_date" />
                                                </a></li>
                                        </ul>
                                    </div>

                                    <div class="message-body">
                                        {{ bb_code($comment.message, 'post', $comment.Thread) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </xf:foreach>
            </div>
        </div>
    </div>
</xf:if>

<xf:if is="$xf.options.taylorjBlogsBlogPostOther">
    <div class="block">
        <div class="block-container">
            <h3 class="block-header">{{ phrase('taylorj_blogs_blog_post_random_blogs') }}</h3>
            <div class="block-body">
                <div class="structItemContainer">
                    <xf:foreach loop="$ownerOtherPosts" value="$blogPost">
                        <xf:set var="$extra" value="" />
                        <xf:macro id="taylorj_blogs_list_macros::blogPost" arg-blogPost="{$blogPost}"
                            arg-allowEdit="{{ false }}" />
                    </xf:foreach>
                </div>
            </div>
        </div>
    </div>
</xf:if>
