<xf:css src="taylorj_blogs_blog_view.less" />
<xf:css src="structured_list.less" />


<xf:breadcrumb source="$blog.getBreadcrumbs(true)" />

<xf:title>{$blog.blog_title}</xf:title>
<xf:description>{$blog.blog_description}</xf:description>

<div class="taylorjUserBlogs-blog-description">
    <xf:if is="{$blog.canPost()}">
        <xf:pageaction>
            <xf:button href="{{ link('blogs/blog/add-post', $blog) }}" fa="fa-plus-square" class="button--cta">
                {{ phrase('taylorj_blogs_blog_create_post') }}
            </xf:button>
        </xf:pageaction>
    </xf:if>

    <div class="u-pullRight taylorjBlogs-blog-actions">
        <div>
            <xf:if is="{$blog.canWatch()}">
                <xf:button href="{{ link('blogs/blog/watch', $blog) }}" class="u-pullRight button--link"
                    data-sk-watch="{{ phrase('watch') }}" data-sk-unwatch="{{ phrase('unwatch') }}">
                    <xf:if is="{$blog.BlogWatch.{$xf.visitor.user_id}}">
                        {{ phrase('unwatch') }}
                        <xf:else />
                        {{ phrase('watch') }}
                    </xf:if>
                </xf:button>
            </xf:if>
            <xf:if is="{$blog.isOwner()}">
                <xf:button href="{{ link('blogs/blog', $blog) }}" class="button--link">
                    {{ phrase('taylorj_blogs_visible_posts_button') }}
                </xf:button>
                <xf:button href="{{ link('blogs/blog/draft-posts', $blog) }}" class="button--link">
                    {{ phrase('taylorj_blogs_draft_posts_button') }}
                </xf:button>
            </xf:if>
        </div>

        <div>
            <xf:if contentcheck="true">
                <div class="buttonGroup-buttonWrapper">
                    <xf:button class="button--link menuTrigger" data-xf-click="menu" aria-expanded="false"
                        aria-haspopup="true" title="{{ phrase('more_options') }}">&#8226;&#8226;&#8226;</xf:button>
                    <div class="menu" data-menu="menu" aria-hidden="true">
                        <div class="menu-content">
                            <h4 class="menu-header">{{ phrase('more_options') }}</h4>
                            <xf:contentcheck>
                                <!--[XF:thread_tools_menu:top]-->
                                <xf:if is="$blog.canEdit()">
                                    <a href="{{ link('blogs/blog/edit', $blog) }}" class="menu-linkRow">{{
                                        phrase('taylorj_blogs_blog_edit_button') }}</a>
                                </xf:if>
                                <xf:if is="$blog.canDelete()">
                                    <a href="{{ link('blogs/blog/delete', $blog) }}" data-xf-click="overlay"
                                        class="menu-linkRow">{{
                                        phrase('taylorj_blogs_blog_delete') }}</a>
                                </xf:if>
                                <!--[XF:thread_tools_menu:bottom]-->
                            </xf:contentcheck>
                        </div>
                    </div>
                </div>
            </xf:if>
        </div>
    </div>
</div>

<xf:css src="message.less" />

<div class="block taylorjUserBlogs-block">
    <div class="taylorjUserBlogs-blog-posts">
        <xf:foreach loop="{$blogPosts}" key="$blog_post_id" value="$blogPost">
            <div class="block-container">
                <div class="block-body">
                    <article
                        class="message message--article message--articlePreview js-inlineModContainer js-threadListItem-{$blogPost.blog_post_id}">
                        <div class="articlePreview-main">
                            <div class="taylorjBlogs-main">

                                <xf:if is="$blogPost.cover_image">
                                    <div class="taylorjBlogs-blog-post-cover-image">
                                        <a href="{$blogPost}" class="articlePreview-image" tabindex="-1">
                                            <img src="{$blogPost.cover_image}" alt="{$blogPost.blog_post_title}"
                                                loading="lazy" />
                                        </a>
                                    </div>
                                </xf:if>
                                <div class="taylorjBlogs-blog-post-snippet {{
                                    $blogPost.cover_image ? '' : 'taylorjBlogs-blog-post-no-cover' }}">
                                    <div class="articlePreview-text ">
                                        <div class="articlePreview-headline">
                                            <h2 class="articlePreview-title">
                                                <a
                                                    href="{{ link('blogs/post', $blogPost) }}">{$blogPost.blog_post_title}</a>
                                            </h2>
                                        </div>
                                        <div class="{{ $blogPost.cover_image ? 'taylorjBlogs-preview-text' : '' }}">
                                            <div class="message--articlePreview articlePreview-content">
                                                <div class="message-content">
                                                    <div class="message-userContent">
                                                        <article class="message-body">
                                                            <!-- {{ bb_code_snippet($blogPost.blog_post_content,
'taylorj_blogs_blog_post', $blogPost, 750) }} -->
                                                            {{ snippet($blogPost.blog_post_content, 750, {
                                                            'stripQuote': true,
                                                            'bbWrapper': false
                                                            }) }}
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="articlePreview-links">
                                                <a href="{{ link('blogs/post', $blogPost) }}"
                                                    class="button button--link">{{
                                                    phrase('view_full_post') }} &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-footer">
                                <xf:date time="$blogPost.blog_post_date" />
                                <xf:if is="$blogPost.blog_post_last_edit_date">
                                    &nbsp;&#8226;&nbsp;&nbsp;{{ phrase('last_edited:') }}
                                    <xf:date time="$blogPost.blog_post_last_edit_date" />
                                </xf:if>
                                <span class="u-pullRight">{{ phrase('views') }}: {$blogPost.view_count}</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </xf:foreach>
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="blogs/blog/" data="{$blogPost}"
            wrapperclass="block-outer block-outer--after" />
    </div>
</div>

<xf:sidebar>
    <div class="taylorjUserBlogs-blog-details">
        <xf:if is="{$blog.blog_header_image}">
            <div class="taylorjBlogs-blog-header-image">
                <img src="{$blog.blog_header_image}" alt="Header Image" />
            </div>
        </xf:if>
        <div class="taylorJUserBlogs-details-text">
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('author') }}</dt>
                <dd>{$blog.User.username}</dd>
            </dl>
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('created') }}</dt>
                <dd>
                    <xf:date time="$blog.blog_creation_date" />
                </dd>
            </dl>
            <dl class="pairs pairs--justified">
                <dt>Entries</dt>
                <dd>{$blogPost.Blog.blog_post_count|number}</dd>
            </dl>
        </div>
    </div>
</xf:sidebar>
