<xf:macro id="blogPost" arg-blogPost="!" arg-canInlineMod="!" arg-allowInlineMod="!">
	<div class="block-container {{ $blogPost.blog_post_state == 'deleted' ? ' is-deleted' : '' }}">
                <div class="block-body {{ $blogPost.blog_post_state == 'deleted' ? ' is-deleted' : '' }}">
                    <article
                        class="message message--article message--articlePreview js-inlineModContainer js-threadListItem-{$blogPost.blog_post_id} {{ $blogPost.blog_post_state == 'moderated' ? 'is-moderated' : '' }} {{ $blogPost.blog_post_state == 'deleted' ? ' is-deleted' : '' }}">
                        <div
                            class="articlePreview-main {{ $blogPost.blog_post_state == 'deleted' ? ' is-deleted' : '' }}">
                            <div class="taylorjBlogs-main">

                                <xf:if is="$blogPost.cover_image">
                                    <div class="taylorjBlogs-blog-post-cover-image">
                                        <a href="{{ link('blogs/post', $blogPost) }}" class="articlePreview-image"
                                            tabindex="-1">
                                            <img src="{$blogPost.cover_image}" alt="{$blogPost.blog_post_title}"
                                                loading="lazy" />
                                        </a>
                                    </div>
                                </xf:if>
                                <div class="taylorjBlogs-blog-post-snippet {{
                                $blogPost.cover_image ? '' : 'taylorjBlogs-blog-post-no-cover' }}">
                                    <div class="articlePreview-text ">
                                        <div class="articlePreview-headline">
                                            <h2
                                                class="articlePreview-title {{ $blogPost.blog_post_state == 'deleted' ? ' is-deleted' : '' }}">
                                                <xf:if is="$blogPost.blog_post_state == 'moderated'">
                                                    <xf:fa icon="fa-shield" class="structItem-status--moderated"
                                                        aria-hidden="true"
                                                        title="{{ phrase('awaiting_approval')|for_attr }}" />
                                                    <span class="u-srOnly">{{ phrase('awaiting_approval') }}</span>
                                                </xf:if>
                                                <a
                                                    href="{{ link('blogs/post', $blogPost) }}">{$blogPost.blog_post_title}</a>
                                            </h2>
                                        </div>
                                        <div class="{{ $blogPost.cover_image ? 'taylorjBlogs-preview-text' : '' }}">
                                            <div class="message--articlePreview articlePreview-content">
                                                <div class="message-content">
                                                    <div class="message-userContent">
                                                        <article class="message-body">
                                                            <!-- {{ bb_code_snippet($blogPost.blog_post_content,
                                                    'taylorj_blogs_blog_post', $blogPost, 750) }} -->
                                                            {{ snippet($blogPost.blog_post_content, 750, {
                                                            'stripQuote': true,
                                                            'bbWrapper': false
                                                            }) }}
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="articlePreview-links">
                                                <a href="{{ link('blogs/post', $blogPost) }}"
                                                    class="button button--link">{{
                                                    phrase('view_full_post') }} &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-footer">
                                <xf:date time="$blogPost.blog_post_date" />
                                <xf:if is="$blogPost.blog_post_last_edit_date">
                                    &nbsp;&#8226;&nbsp;&nbsp;{{ phrase('last_edited:') }}
                                    <xf:date time="$blogPost.blog_post_last_edit_date" />
                                </xf:if>
                                <div class="u-pullRight taylorjBlogs-block-footer-right">
                                    <xf:if is="$allowInlineMod AND $blogPost.canUseInlineModeration()">
                                        <li>
                                            <xf:checkbox standalone="true">
                                                <xf:option value="{$blogPost.blog_post_id}" class="js-inlineModToggle"
                                                    data-xf-init="tooltip" title="{{ phrase('select_for_moderation') }}"
                                                    label="{{ phrase('select_for_moderation') }}" hiddenlabel="true" />
                                            </xf:checkbox>
                                        </li>
                                    </xf:if>
                                    {{ phrase('views') }}: {$blogPost.view_count}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
</xf:macro>